body {
    background: rgb(250, 243, 217);
}
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
}
.headerinfo {
    text-align: center;
    padding: 10px
}
img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 25px;
}