body {
    background: rgb(255, 255, 255);
}
h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    padding-top: 15px;
}
.headerinfo {
    text-align: center;
    padding: 10px
}
img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 25px;
}